@import "./_variables.scss";

.newis {
    background-color: white;
}

.annoucements {
    width: 100%;
    height: auto;
    overflow: hidden;
    color: black;
}

.newshead h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color: black;
    padding: 3rem;
    background-color: color(primary);
    @include tablet {
        font-size: 3rem;
       }
    @include laptop {
        font-size: 3rem;
       }
}

.news {
    box-sizing: border-box;
    padding: 10px;
    float: left;
    width: 50%;
    margin-bottom: 3rem;
}

.news h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    @include tablet {
        font-size: 2rem;
       }
    @include laptop {
        font-size: 2rem;
       }
}

.news p {
    font-family: 'Open Sans', sans-serif;
    padding: 0 .5rem 2rem .5rem;
    font-size: 13px;
    @include tablet {
        padding: 0 5rem 3rem 5rem;
        font-size: 1.5rem;
       }
    @include laptop {
        padding: 0 5rem 3rem 5rem;
        font-size: 1.5rem;
       }
}


.news a {
    font-family: 'Open Sans', sans-serif;
    background-color: color(black);
    color: white;
    font-size: 1rem;
    padding: 1rem;
    
}

.news img{
    height: 10rem;
}
.viewall {
    background-color: color(primary);
    font-family: 'Montserrat', sans-serif;
    border: 3px solid black;
    color: black;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 3rem;
    margin-top: 2rem;
    @include tablet {
        padding: 15px 32px;
        font-size: 16px;
        margin-bottom: 5rem;
        margin-top: 2rem;
       }
    @include laptop {
        padding: 15px 32px;
        font-size: 16px;
        margin-bottom: 5rem;
        margin-top: 2rem;
       }
}