html {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.header {
  position: relative;
  height: 50vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../media/school.jpg);
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../media/school.jpg);
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Cabin', sans-serif;
  margin: 0;
  padding: 0;
}

@media (min-width: 1100px) {
  .header {
    height: 80vh;
    margin: 0;
  }
}

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  z-index: 11111111;
}

.heading-primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  -webkit-animation-name: slide-in;
          animation-name: slide-in;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.heading-primary .heading-primary-main {
  font-family: 'Open Sans', sans-serif;
  font-size: 4rem;
  letter-spacing: 1rem;
  text-align: center;
  margin: 0 auto;
}

@media (min-width: 900px) {
  .heading-primary .heading-primary-main {
    font-size: 6rem;
    letter-spacing: 1.8rem;
  }
}

@media (min-width: 1100px) {
  .heading-primary .heading-primary-main {
    font-size: 10rem;
    letter-spacing: 1rem;
  }
}

.heading-primary .heading-primary-sub {
  font-size: 1.5rem;
  width: 80vw;
  margin: 0 auto;
  text-align: center;
  color: white;
  margin-bottom: 3rem;
}

@media (min-width: 1100px) {
  .heading-primary .heading-primary-sub {
    font-size: 3rem;
  }
}

.header img {
  height: 12rem;
}

@media (min-width: 900px) {
  .header img {
    height: 15rem;
  }
}

@media (min-width: 1100px) {
  .header img {
    height: 15rem;
  }
}

.media {
  position: relative;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../media/desk.jpg);
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../media/desk.jpg);
  background-size: cover;
}

.media i {
  font-size: 8rem;
  color: #c0b366;
  margin-top: 5rem;
}

@media (min-width: 900px) {
  .media i {
    font-size: 10rem;
  }
}

@media (min-width: 1100px) {
  .media i {
    font-size: 10rem;
  }
}

.media h1 {
  display: inline-block;
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding: 2rem;
  background-color: #c0b366;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 3px;
  color: black;
  font-size: 1.5rem;
}

@media (min-width: 900px) {
  .media h1 {
    font-size: 2rem;
  }
}

@media (min-width: 1100px) {
  .media h1 {
    font-size: 2rem;
  }
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.name {
  font-family: 'Montserrat', sans-serif;
  padding: 1rem;
}

.media img {
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-filter: drop-shadow(10px -4px 4px #000000);
          filter: drop-shadow(10px -4px 4px #000000);
  height: 5rem;
}

@media (min-width: 900px) {
  .media img {
    height: 8rem;
  }
}

@media (min-width: 1100px) {
  .media img {
    height: 8rem;
  }
}

.nav .topnav {
  position: relative;
  overflow: hidden;
}

.nav ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #c0b366;
  top: 0;
  z-index: 11111111111;
  padding: 0 20px 0 20px;
}

@media (min-width: 900px) {
  .nav ul {
    padding-left: 40px;
  }
}

@media (min-width: 1100px) {
  .nav ul {
    padding-left: 40px;
  }
}

.nav li {
  display: list-item;
  margin: 1rem 0 1rem 0;
  border-bottom: 1px solid #4e4e50;
}

@media (min-width: 900px) {
  .nav li {
    display: list-item;
  }
}

@media (min-width: 1100px) {
  .nav li {
    display: inline;
    border-right: 1px solid #4e4e50;
    border-bottom: none;
  }
}

.nav li:last-child {
  border-right: none;
  border-bottom: none;
}

.nav li a {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  color: black;
  text-align: center;
  padding: 5px 16px;
  text-decoration: none;
  font-size: 1.5rem;
}

@media (min-width: 900px) {
  .nav li a {
    font-size: 2rem;
  }
}

@media (min-width: 1100px) {
  .nav li a {
    font-size: 2rem;
  }
}

.nav a:hover {
  background-color: #ddd;
  color: black;
}

.newis {
  background-color: white;
}

.annoucements {
  width: 100%;
  height: auto;
  overflow: hidden;
  color: black;
}

.newshead h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: black;
  padding: 3rem;
  background-color: #c0b366;
}

@media (min-width: 900px) {
  .newshead h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1100px) {
  .newshead h1 {
    font-size: 3rem;
  }
}

.news {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  float: left;
  width: 50%;
  margin-bottom: 3rem;
}

.news h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
}

@media (min-width: 900px) {
  .news h1 {
    font-size: 2rem;
  }
}

@media (min-width: 1100px) {
  .news h1 {
    font-size: 2rem;
  }
}

.news p {
  font-family: 'Open Sans', sans-serif;
  padding: 0 .5rem 2rem .5rem;
  font-size: 13px;
}

@media (min-width: 900px) {
  .news p {
    padding: 0 5rem 3rem 5rem;
    font-size: 1.5rem;
  }
}

@media (min-width: 1100px) {
  .news p {
    padding: 0 5rem 3rem 5rem;
    font-size: 1.5rem;
  }
}

.news a {
  font-family: 'Open Sans', sans-serif;
  background-color: #110;
  color: white;
  font-size: 1rem;
  padding: 1rem;
}

.news img {
  height: 10rem;
}

.viewall {
  background-color: #c0b366;
  font-family: 'Montserrat', sans-serif;
  border: 3px solid black;
  color: black;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 3rem;
  margin-top: 2rem;
}

@media (min-width: 900px) {
  .viewall {
    padding: 15px 32px;
    font-size: 16px;
    margin-bottom: 5rem;
    margin-top: 2rem;
  }
}

@media (min-width: 1100px) {
  .viewall {
    padding: 15px 32px;
    font-size: 16px;
    margin-bottom: 5rem;
    margin-top: 2rem;
  }
}

.sps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 20rem;
  margin: 5rem 1rem 5rem 1rem;
}

@media (min-width: 900px) {
  .sps {
    height: 30rem;
    margin: 10rem;
  }
}

@media (min-width: 1100px) {
  .sps {
    height: 30rem;
    margin: 10rem;
  }
}

.left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 50%;
}

#qq {
  width: 80%;
  height: 33.333%;
  border-bottom: 2px solid white;
  margin: 0 2rem 0 2rem;
}

@media (min-width: 900px) {
  #qq {
    width: 80%;
    margin-right: 4rem;
  }
}

@media (min-width: 1100px) {
  #qq {
    width: 100%;
    margin-right: 4rem;
  }
}

#qq:last-child {
  border-bottom: none;
}

.right {
  width: 50%;
  background-image: url(../media/original.jpg);
  background-size: cover;
}

.left a {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-align: center;
  padding: 5px 16px;
  text-decoration: none;
  font-size: 2rem;
  padding-top: 2rem;
}

@media (min-width: 900px) {
  .left a {
    font-size: 3rem;
  }
}

@media (min-width: 1100px) {
  .left a {
    font-size: 3rem;
  }
}

#qq:hover {
  background-color: #c0b366;
  color: black;
}

.left:hover + .right {
  background-image: url(../media/students.jpg);
  -webkit-transition: all 1s;
  transition: all 1s;
}

html {
  font-size: 62.5%;
}

body {
  background-color: black;
  height: 100%;
  color: white;
  text-align: center;
}

img {
  height: 10rem;
}

.note {
  background-color: red;
  height: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
}

.note p {
  padding: 10px;
}

.seagull {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 3px solid #c0b366;
  width: 85%;
  margin: 5rem auto;
}

@media (min-width: 900px) {
  .seagull {
    width: 70%;
  }
}

@media (min-width: 1100px) {
  .seagull {
    width: 50%;
  }
}

.text {
  margin-right: 4rem;
}

@media (min-width: 900px) {
  .text {
    margin-right: 18rem;
  }
}

@media (min-width: 1100px) {
  .text {
    margin-right: 18rem;
  }
}

.seagull h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  padding-left: 3rem;
}

@media (min-width: 900px) {
  .seagull h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1100px) {
  .seagull h1 {
    font-size: 3rem;
  }
}

.seagull p {
  font-family: 'Open Sans', sans-serif;
  padding: 4rem;
  font-size: 1.5rem;
}

@media (min-width: 900px) {
  .seagull p {
    padding: 4rem;
    font-size: 1.5rem;
  }
}

@media (min-width: 1100px) {
  .seagull p {
    padding: 4rem;
    font-size: 1.5rem;
  }
}

.seagull img {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 10rem;
}

@media (min-width: 900px) {
  .seagull img {
    height: 20rem;
  }
}

@media (min-width: 1100px) {
  .seagull img {
    height: 20rem;
  }
}
/*# sourceMappingURL=style.css.map */